<!DOCTYPE html>
<html lang="ja">

<a href="/logout">ログアウト</a>

<h1>Janken GAME!</h1></br>

<div th:if="${username}">
  Hi [[${username}]]
</div>

<div th:if="${room}">
  <h1>エントリー</h1>
  <ul>
    <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
      thが指定されているので[]が不要になる-->
    <li th:each="user : ${room.users}">[[${user}]]</li>
  </ul>
</div>

<p th:if="${match}">
<h1>試合結果</h1>
<!--statはステータス変数
      https://www.ne.jp/asahi/hishidama/home/tech/java/spring/boot/thymeleaf/th_each.html
    -->

<div th:each="match,stat:${match}">
  <tr>
    <td>id:[[${match.id}]]</td>
    <td>user1:[[${match.user1}]]</td>
    <td>user2:[[${match.user2}]]</td>
    <td>user1の手:[[${match.user1Hand}]]</td>
    <td>user2の手:[[${match.user2Hand}]]</td>
  </tr>
</div>
</p>

<body>
  <p>
    <a href="/jankengame?hand=Gu">ぐー</a>
    <a href="/jankengame?hand=tyoki">ちょき</a>
    <a href="/jankengame?hand=Pa">ぱー</a><br>
    [[${Player_hand}]]<br>
    [[${Com_hand}]]<br>
    [[${result}]]
  </p>
</body>
