<!DOCTYPE html>
<html lang="ja">

<a href="/logout">ログアウト</a>

<h1>Janken GAME!</h1>

<div th:if="${room}">
  エントリー
  <ul>
    <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
      thが指定されているので[]が不要になる-->
    <li th:each="user : ${room.users}">[[${user}]]</li>
  </ul>
</div>

<body>
  <p>
  <div th:if="${username}">
    Hi [[${username}]]
  </div>
  <a href="/jankengame?hand=Gu">ぐー</a>
  <a href="/jankengame?hand=tyoki">ちょき</a>
  <a href="/jankengame?hand=Pa">ぱー</a><br>
  [[${Player_hand}]]<br>
  [[${Com_hand}]]<br>
  [[${result}]]
  </p>
</body>
