<!DOCTYPE html>
<html lang="ja">

<a href="/logout">ログアウト</a>

<h1>Janken GAME!</h1></br>

<div th:if="${username}">
  Hi [[${username}]]
</div>

<div th:if="${user}">
  <h1>エントリー</h1>
  <ul>
    <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
      thが指定されているので[]が不要になる-->
    <li th:each="user : ${user}"><a th:href="@{/match(id=${user.id})}"> [[${user.name}]]</a></li>
  </ul>
</div>

<p th:if="${matchinfo}">
<h1>アクティブな試合</h1>
<!--statはステータス変数
      https://www.ne.jp/asahi/hishidama/home/tech/java/spring/boot/thymeleaf/th_each.html
    -->

<div th:each="matchinfo,stat:${matchinfo}">
  <tr th:each="matchinfo : ${matchinfo}" th:if="${matchinfo.isActive}">
    <td>ID: [[${matchinfo.id}]]</td>
    <td>User1: [[${matchinfo.user1}]]</td>
    <td>User2: [[${matchinfo.user2}]]</td>
    <td>isActive: [[${matchinfo.isActive}]]</td>
  </tr>
</div>
</p>

<p th:if="${match}">
<h1>試合結果</h1>
<!--statはステータス変数
      https://www.ne.jp/asahi/hishidama/home/tech/java/spring/boot/thymeleaf/th_each.html
    -->

<div th:each="match,stat:${match}">
  <tr>
    <td>id:[[${match.id}]]</td>
    <td>user1:[[${match.user1}]]</td>
    <td>user2:[[${match.user2}]]</td>
    <td>user1の手:[[${match.user1Hand}]]</td>
    <td>user2の手:[[${match.user2Hand}]]</td>
  </tr>
</div>
</p>

</html>
